In [2]:
import xarray as xr
import pandas as pd
import numpy as np

In [3]:
diri = "/Users/fadhlilrizki/Documents/PhD/thesis/dataout/local_wave_phase/"
diro = "/Users/fadhlilrizki/Documents/PhD/thesis/dataout/local_wave_phase/combined_wave/"

In [4]:
season = "SHSummer"

In [364]:
fw_1 = "local_er_phase_"+season+".133.nc"
fw_2 = "local_kelvin_phase_"+season+".133.nc"
fw_3 = "local_mrg_phase_"+season+".133.nc"
fw_4 = "local_td_phase_"+season+".133.nc"
fw_5 = "local_mjo_phase_"+season+".133.nc"

In [365]:
dw_1 = xr.open_dataset(diri+fw_1)
dw_2 = xr.open_dataset(diri+fw_2)
dw_3 = xr.open_dataset(diri+fw_3)
dw_4 = xr.open_dataset(diri+fw_4)
dw_5 = xr.open_dataset(diri+fw_5)

In [366]:
dw_1 = dw_1.sel(time=slice("1981-01-01","2018-12-31"))
dw_2 = dw_2.sel(time=slice("1981-01-01","2018-12-31"))
dw_3 = dw_3.sel(time=slice("1981-01-01","2018-12-31"))
dw_4 = dw_4.sel(time=slice("1981-01-01","2018-12-31"))
dw_5 = dw_5.sel(time=slice("1981-01-01","2018-12-31"))

In [367]:
tc   = pd.read_csv('/Users/fadhlilrizki/Documents/PhD/thesis/data/TC_dates.csv',
                   usecols=["0"], parse_dates=["0"])

tc_raw =pd.read_csv('/Users/fadhlilrizki/Documents/PhD/thesis/data/tc_raw_1981-2018.csv',
                   usecols=["TM","TYPE","LAT","LON"], parse_dates=["TM"])

In [420]:
# tc_raw
# print(tc_raw.dtypes)

# tc_raw["TM"] = pd.to_datetime(tc_raw["TM"])
# tc_raw = tc_raw.between_time("1981-01-01","2018-12-31")
tc_raw["LAT"] = pd.to_numeric(tc_raw["LAT"], errors='coerce')
tc_raw["LON"] = pd.to_numeric(tc_raw["LON"], errors='coerce')

print(tc_raw)

tc2 = tc_raw[(tc_raw["LAT"]<=-8) & (tc_raw["LAT"]>=-25)]
tc2 = tc2[(tc2["LON"]>=103.9) & (tc2["LON"]<=159)]
tc2 = tc2[tc2["TYPE"]=="T"]

tc2_tm = tc2["TM"].dropna()

tc2_tm = pd.DataFrame(tc2_tm)
tc2_tm
# tc2_tm = tc2_tm.set_index('TM')
# tc2_tm = tc2_tm.resample('D')

                     TM TYPE   LAT    LON
0      1981-01-12 00:00    T -11.8  110.1
1      1981-01-12 06:00    T -12.2  111.1
2      1981-01-12 12:00    T -12.4  112.3
3      1981-01-12 18:00    T -12.5  113.3
4      1981-01-13 00:00    T -12.9  114.1
...                 ...  ...   ...    ...
14492  2018-12-31 09:00    D -12.5  140.0
14493  2018-12-31 12:00    D -12.8  140.3
14494  2018-12-31 15:00    D -12.8  140.5
14495  2018-12-31 18:00    D -12.7  140.6
14496  2018-12-31 21:00    D -12.7  140.9

[14497 rows x 4 columns]

                     TM
0      1981-01-12 00:00
1      1981-01-12 06:00
2      1981-01-12 12:00
3      1981-01-12 18:00
4      1981-01-13 00:00
...                 ...
14218  2018-03-14 00:00
14219  2018-03-14 06:00
14220  2018-03-14 12:00
14221  2018-03-14 18:00
14222  2018-03-15 00:00

[9551 rows x 1 columns]

In [421]:
# tc2_date = pd.to_datetime(tc2_tm["TM"])
# tc2_date
tc2_tm = tc2_tm.set_index(tc2_tm["TM"])

tc2_date = pd.to_datetime(tc2_tm.index).normalize()
tc2_tm  = tc2_tm.set_index(tc2_date)

tc2_tm.dropna()

                          TM
TM
1981-01-12  1981-01-12 00:00
1981-01-12  1981-01-12 06:00
1981-01-12  1981-01-12 12:00
1981-01-12  1981-01-12 18:00
1981-01-13  1981-01-13 00:00
...                      ...
2018-03-14  2018-03-14 00:00
2018-03-14  2018-03-14 06:00
2018-03-14  2018-03-14 12:00
2018-03-14  2018-03-14 18:00
2018-03-15  2018-03-15 00:00

[9551 rows x 1 columns]

In [423]:
tc2_fin = tc2_tm

print(tc2_fin.index.drop_duplicates())

DatetimeIndex(['1981-01-12', '1981-01-13', '1981-01-14', '1981-01-15',
               '1981-01-16', '1981-01-17', '1981-01-18', '1981-01-19',
               '1981-01-20', '1981-01-21',
               ...
               '2018-03-15', '2018-03-16', '2018-03-17', '2018-03-18',
               '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
               '2018-03-23', '2018-03-13'],
              dtype='datetime64[ns]', name='TM', length=1859, freq=None)

In [428]:
print(tc2_fin.loc['1981-03-01'])

                          TM
TM
1981-03-01  1981-03-01 00:00
1981-03-01  1981-03-01 06:00
1981-03-01  1981-03-01 12:00
1981-03-01  1981-03-01 18:00
1981-03-01  1981-03-01 00:00
1981-03-01  1981-03-01 03:00
1981-03-01  1981-03-01 06:00
1981-03-01  1981-03-01 09:00
1981-03-01  1981-03-01 12:00
1981-03-01  1981-03-01 15:00
1981-03-01  1981-03-01 18:00
1981-03-01  1981-03-01 21:00

In [419]:
tc_da = xr.DataArray(tc)
tc_da

<xarray.DataArray (dim_0: 1859, dim_1: 2)>
array([[Timestamp('2004-02-13 00:00:00'), '02'],
       [Timestamp('1990-06-03 00:00:00'), '06'],
       [Timestamp('1998-04-01 00:00:00'), '04'],
       ...,
       [Timestamp('2004-10-02 00:00:00'), '10'],
       [Timestamp('1983-02-22 00:00:00'), '02'],
       [Timestamp('1981-02-27 00:00:00'), '02']], dtype=object)
Coordinates:
  * dim_0    (dim_0) int64 0 1 2 3 4 5 6 ... 1852 1853 1854 1855 1856 1857 1858
  * dim_1    (dim_1) object '0' 'mon'

In [372]:
tc['0'] = pd.to_datetime(tc['0'])

# df['A'].groupby(df.index.month).mean()
tc['mon']= tc['0'].dt.strftime('%m')
tc

              0 mon
0    2004-02-13  02
1    1990-06-03  06
2    1998-04-01  04
3    2003-04-04  04
4    1982-01-20  01
...         ...  ..
1854 2012-01-29  01
1855 1983-06-03  06
1856 2004-10-02  10
1857 1983-02-22  02
1858 1981-02-27  02

[1859 rows x 2 columns]

In [326]:
tc_mon = tc.pivot(columns='mon', values='0')
tc_mon

mon,01,02,03,04,05,06,07,08,09,10,11,12
0,NaT,2004-02-13,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,NaT,NaT,NaT,NaT,NaT,1990-06-03,NaT,NaT,NaT,NaT,NaT,NaT
2,NaT,NaT,NaT,1998-04-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,NaT,NaT,NaT,2003-04-04,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,1982-01-20,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
1854,2012-01-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1855,NaT,NaT,NaT,NaT,NaT,1983-06-03,NaT,NaT,NaT,NaT,NaT,NaT
1856,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2004-10-02,NaT,NaT
1857,NaT,1983-02-22,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1858,NaT,1981-02-27,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [55]:
jan  = tc_mon['01'].dropna()
feb  = tc_mon['02'].dropna()
mar  = tc_mon['03'].dropna()
apr  = tc_mon['04'].dropna()
may  = tc_mon['05'].dropna()
jun  = tc_mon['06'].dropna()
jul  = tc_mon['07'].dropna()
aug  = tc_mon['08'].dropna()
sep  = tc_mon['09'].dropna()
oct  = tc_mon['10'].dropna()
nov  = tc_mon['11'].dropna()
dec  = tc_mon['12'].dropna()

In [59]:
print("djf-", len(dec),len(jan),len(feb))
print("mam-", len(mar),len(apr),len(may))
print("jja-", len(jun),len(jul),len(aug))
print("son-", len(sep),len(oct),len(nov))

djf- 261 320 297
mam- 302 202 94
jja- 65 59 56
son- 56 58 89

In [76]:
er         = xr.where(~dw_1['time'].isin(tc_da), dw_1, np.nan).dropna(dim='time')
mrg        = xr.where(~dw_3['time'].isin(tc_da), dw_3, np.nan).dropna(dim='time')
kelvin     = xr.where(~dw_2['time'].isin(tc_da), dw_2, np.nan).dropna(dim='time')
td         = xr.where(~dw_4['time'].isin(tc_da), dw_4, np.nan).dropna(dim='time')
mjo        = xr.where(~dw_5['time'].isin(tc_da), dw_5, np.nan).dropna(dim='time')

In [87]:
er_active = xr.where(((dw_1['phase']>=1) & (dw_1['phase'] <= 8)), dw_1, np.nan).dropna(dim='time')
mrg_active = xr.where(((dw_3['phase']>=1) & (dw_3['phase'] <= 8)), dw_3, np.nan).dropna(dim='time')
td_active = xr.where(((dw_4['phase']>=1) & (dw_4['phase'] <= 8)), dw_4, np.nan).dropna(dim='time')
mjo_active = xr.where(((dw_5['phase']>=1) & (dw_5['phase'] <= 8)), dw_5, np.nan).dropna(dim='time')

In [88]:
er_active_notc         = xr.where(~er_active['time'].isin(tc_da), er_active, np.nan).dropna(dim='time')
mrg_active_notc        = xr.where(~mrg_active['time'].isin(tc_da),mrg_active, np.nan).dropna(dim='time')
td_active_notc         = xr.where(~td_active['time'].isin(tc_da), td_active, np.nan).dropna(dim='time')
mjo_active_notc        = xr.where(~mjo_active['time'].isin(tc_da), mjo_active, np.nan).dropna(dim='time')

er_active_notc

<xarray.Dataset>
Dimensions:  (time: 2099)
Coordinates:
  * time     (time) datetime64[ns] 1981-01-01 1981-01-02 ... 2018-12-31
Data variables:
    x        (time) float32 1.602 1.671 1.368 0.9369 ... -1.516 -1.504 -1.202
    y        (time) float32 0.2745 0.01123 -0.9718 ... -0.3186 0.4537 1.255
    amp      (time) float32 1.626 1.671 1.678 1.72 ... 1.559 1.549 1.571 1.738
    phase    (time) float64 1.0 1.0 2.0 2.0 3.0 3.0 ... 4.0 4.0 4.0 5.0 5.0 6.0

In [89]:
print("er-percentage summer: ",len(er_active_notc['time']) , "/",len(er_active['time']), 100. - 100*len(er_active_notc['time'])/len(er_active['time']))
print("mrg-percentage summer: ",len(mrg_active_notc['time']) , "/",len(mrg_active['time']), 100. - 100*len(mrg_active_notc['time'])/len(mrg_active['time']))
print("td-percentage summer: ",len(td_active_notc['time']) , "/",len(td_active['time']), 100. - 100*len(td_active_notc['time'])/len(td_active['time']))
print("mjo-percentage summer: ",len(mjo_active_notc['time']) , "/",len(mjo_active['time']), 100. - 100*len(mjo_active_notc['time'])/len(mjo_active['time']))

er-percentage summer:  2099 / 2844 26.19549929676512
mrg-percentage summer:  1850 / 2495 25.851703406813627
td-percentage summer:  2033 / 2736 25.694444444444443
mjo-percentage summer:  2076 / 2820 26.38297872340425

In [21]:
er.to_netcdf(diri+"local_er_phase_"+season+".133."+".noTC.nc")
mrg.to_netcdf(diri+"local_mrg_phase_"+season+".133."+".noTC.nc")
kelvin.to_netcdf(diri+"local_kelvin_phase_"+season+".133."+".noTC.nc")
td.to_netcdf(diri+"local_td_phase_"+season+".133."+".noTC.nc")
mjo.to_netcdf(diri+"local_mjo_phase_"+season+".133."+".noTC.nc")

In [435]:
print("ER")

er_dates = pd.DataFrame()
phase = []
ndays_notc = []
ndays_all  = []
percentage = []
for p1,p2 in zip(er.groupby("phase"),dw_1.groupby("phase")):
    phase.append(p1[0])
    ndays_notc.append(len(p1[1].time))
    ndays_all.append(len(p2[1].time))
    percentage.append(round(100*len(p1[1].time)/len(p2[1].time),2))


er_dates['phase'] = phase
er_dates['ndays-noTC'] = ndays_notc
er_dates['ndays-all']  = ndays_all
er_dates['percentage'] = percentage

ER

In [436]:
print("MRG")

mrg_dates = pd.DataFrame()
phase = []
ndays_notc = []
ndays_all  = []
percentage = []
for p1,p2 in zip(mrg.groupby("phase"),dw_3.groupby("phase")):
    phase.append(p1[0])
    ndays_notc.append(len(p1[1].time))
    ndays_all.append(len(p2[1].time))
    percentage.append(round(100*len(p1[1].time)/len(p2[1].time),2))


mrg_dates['phase'] = phase
mrg_dates['ndays-noTC'] = ndays_notc
mrg_dates['ndays-all']  = ndays_all
mrg_dates['percentage'] = percentage
    # print(p1[0], len(p1[1].time),len(p2[1].time))

MRG

In [437]:
print("TD-type")

td_dates = pd.DataFrame()
phase = []
ndays_notc = []
ndays_all  = []
percentage = []
for p1,p2 in zip(td.groupby("phase"),dw_4.groupby("phase")):
    phase.append(p1[0])
    ndays_notc.append(len(p1[1].time))
    ndays_all.append(len(p2[1].time))
    percentage.append(round(100*len(p1[1].time)/len(p2[1].time),2))


td_dates['phase'] = phase
td_dates['ndays-noTC'] = ndays_notc
td_dates['ndays-all']  = ndays_all
td_dates['percentage'] = percentage
    # print(p1[0], len(p1[1].time),len(p2[1].time))

TD-type

In [438]:
print("MJO-type")

mjo_dates = pd.DataFrame()
phase = []
ndays_notc = []
ndays_all  = []
percentage = []
for p1,p2 in zip(td.groupby("phase"),dw_5.groupby("phase")):
    phase.append(p1[0])
    ndays_notc.append(len(p1[1].time))
    ndays_all.append(len(p2[1].time))
    percentage.append(round(100*len(p1[1].time)/len(p2[1].time),2))

mjo_dates['phase'] = phase
mjo_dates['ndays-noTC'] = ndays_notc
mjo_dates['ndays-all']  = ndays_all
mjo_dates['percentage'] = percentage
    # print(p1[0], len(p1[1].time),len(p2[1].time))

MJO-type

In [439]:
er_dates[['ndays-noTC','ndays-all','percentage']]

   ndays-noTC  ndays-all  percentage
0         452        585       77.26
1         268        361       74.24
2         259        341       75.95
3         292        363       80.44
4         292        374       78.07
5         258        348       74.14
6         251        347       72.33
7         237        354       66.95
8         242        356       67.98

In [440]:
mrg_dates[['ndays-noTC','ndays-all','percentage']]

   ndays-noTC  ndays-all  percentage
0         701        934       75.05
1         234        322       72.67
2         221        289       76.47
3         233        335       69.55
4         235        310       75.81
5         229        304       75.33
6         246        330       74.55
7         226        300       75.33
8         226        305       74.10

In [443]:
td_dates[['ndays-noTC','ndays-all','percentage']]

   ndays-noTC  ndays-all  percentage
0         518        693       74.75
1         265        357       74.23
2         250        341       73.31
3         241        324       74.38
4         269        364       73.90
5         244        332       73.49
6         260        350       74.29
7         241        323       74.61
8         263        345       76.23

In [150]:
mjo_dates

   phase  ndays-noTC  ndays-all  percentage
0    0.0         518        609   85.057471
1    1.0         265        362   73.204420
2    2.0         250        344   72.674419
3    3.0         241        318   75.786164
4    4.0         269        425   63.294118
5    5.0         244        407   59.950860
6    6.0         260        337   77.151335
7    7.0         241        283   85.159011
8    8.0         263        344   76.453488