In [3]:
import pandas as pd
import numpy as np

In [4]:
diri = "/Users/fadhlilrizki/Documents/PhD/thesis/dataout/local_wave_phase/combined_wave/"

In [167]:
fwave = "mrg_mjo_drywet_TE_mam.csv"
fmjo  = "mjo_mjo_wetwet_TE_mam.csv"

In [168]:
frmm  = "rmm_index.txt"

In [169]:
dwave = pd.read_csv(diri+fwave)
dwave['date'] = dwave['date'].astype('str')

In [170]:
dmjo  = pd.read_csv(diri+fmjo)
dmjo['date'] = dmjo['date'].astype('str')

In [171]:
drmm = pd.read_csv(diri+frmm, sep='\s+')

In [172]:
df_rmm = drmm[["phase","amplitude"]]

In [173]:

rmm_date = pd.to_datetime(dict(year=drmm.year, month=drmm.month, day=drmm.day),format='%Y%m%d' ).dt.strftime('%Y%m%d')
rmm_date

0        19740601
1        19740602
2        19740603
3        19740604
4        19740605
           ...
17953    20230727
17954    20230728
17955    20230729
17956    20230730
17957    20230731
Length: 17958, dtype: object

In [174]:
df_rmm['date'] = rmm_date
df_rmm['date'] = df_rmm['date'].astype('str')

/var/folders/41/txq0cr4j1kl0vqjl56x7l60w0000gp/T/ipykernel_2203/2388093420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rmm['date'] = rmm_date
/var/folders/41/txq0cr4j1kl0vqjl56x7l60w0000gp/T/ipykernel_2203/2388093420.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rmm['date'] = df_rmm['date'].astype('str')

In [175]:
df_rmm['date']

0        19740601
1        19740602
2        19740603
3        19740604
4        19740605
           ...
17953    20230727
17954    20230728
17955    20230729
17956    20230730
17957    20230731
Name: date, Length: 17958, dtype: object

In [176]:
mjo_amp = df_rmm[df_rmm['date'].isin(dmjo['date'].tolist())]

In [177]:
mjo_amp

       phase  amplitude      date
2491       3   3.037740  19810327
2492       3   3.169880  19810328
2493       3   2.977630  19810329
2511       7   1.114170  19810416
2512       7   1.003000  19810417
...      ...        ...       ...
16053      1   2.192978  20180514
16054      1   1.937339  20180515
16055      2   1.801545  20180516
16056      2   1.852133  20180517
16057      2   1.909765  20180518

[280 rows x 3 columns]

In [188]:
mjo_amp_mean = mjo_amp['amplitude'].mean()
print(mjo_amp_mean)

1.448183831364286

In [186]:
mean_perphase = mjo_amp.groupby(['phase']).median()
print(mean_perphase)

       amplitude
phase
1       1.125598
2       1.128291
3       1.369788
4       1.492330
5       1.318750
6       1.662600
7       1.114170
8       1.073575

In [180]:
wave_amp = df_rmm[df_rmm['date'].isin(dwave['date'].tolist())]
wave_amp

       phase  amplitude      date
2493       3   2.977630  19810329
2838       2   0.490424  19820309
2896       6   0.650377  19820506
6892       8   1.054810  19930414
7254       7   0.481206  19940411
7986       6   0.491808  19960412
8677       7   0.722195  19980304
8726       6   0.866281  19980422
9083       4   1.570950  19990414
9457       5   0.992549  20000422
10180      3   1.221280  20020415
10504      5   1.384864  20030305
10577      6   2.818886  20030517
10931      3   2.508305  20040505
11299      4   2.834411  20050508
11980      5   0.957608  20070320
12699      5   0.369856  20090308
13455      6   1.821899  20110403
13807      6   3.306114  20120320
14892      6   2.243422  20150310
15324      3   1.412214  20160515
15980      2   1.049217  20180302

In [190]:
wave_amp_mean = wave_amp['amplitude'].mean()
wave_amp_mean

1.4648322068181818

In [182]:
wave_perphase = wave_amp.groupby(['phase']).mean()
print(wave_perphase)

       amplitude
phase
2       0.769821
3       2.029857
4       2.202681
5       0.926219
6       1.742684
7       0.601701
8       1.054810

In [184]:
wave_perphase = wave_amp.groupby(['phase']).median()
wave_perphase

       amplitude
phase
2       0.769821
3       1.960260
4       2.202681
5       0.975078
6       1.821899
7       0.601701
8       1.054810