In [1]:
import pandas as pd
import numpy as np

In [2]:
diri = "/Users/fadhlilrizki/Documents/PhD/thesis/dataout/local_wave_phase/combined_wave/"
diri2 = diri+"check/"

In [61]:
seasmon = 'djf'
code = 1

regioncode = ["TE", "CY", "KY", "QL","EC"]
region = regioncode[code]

wave1 = "mjo"
cond1 = "wet"

wave2 = "mjo"
cond2 = "wet"

wave_destruct1 = "mrg"
cond_destruct1 = "wet"

wave_destruct2 = "mrg"
cond_destruct2 = "dry"

wave_destruct3 = "er"
cond_destruct3 = "wet"

wave_destruct4 = "er"
cond_destruct4 = "dry"

# wave_destruct3 = "mrg"
# cond_destruct3 = "wet"

In [62]:
fref = wave1+"_"+wave2+"_"+cond1+cond2+"_"+region+"_"+seasmon+".csv"

#wave_penganggu
fwave1 = wave_destruct1+"_"+wave_destruct1+"_"+cond_destruct1+cond_destruct1+"_"+region+"_"+seasmon+".csv"
fwave2 = wave_destruct2+"_"+wave_destruct2+"_"+cond_destruct2+cond_destruct2+"_"+region+"_"+seasmon+".csv"
fwave3 = wave_destruct3+"_"+wave_destruct3+"_"+cond_destruct3+cond_destruct3+"_"+region+"_"+seasmon+".csv"
fwave4 = wave_destruct4+"_"+wave_destruct4+"_"+cond_destruct4+cond_destruct4+"_"+region+"_"+seasmon+".csv"
# fwave4 = "er_er_wetwet_EC_djf.csv"

fname  = wave1+"_"+wave2+"_only_"+region+"_"+seasmon+".csv"

fwave_wo1 = wave1+"_"+wave2+"_"+cond1+cond2+"_wo"+wave_destruct1+cond_destruct1+"_"+region+"_"+seasmon+".csv"
fwave_wo2 = wave1+"_"+wave2+"_"+cond1+cond2+"_wo"+wave_destruct2+cond_destruct2+"_"+region+"_"+seasmon+".csv"
fwave_wo3 = wave1+"_"+wave2+"_"+cond1+cond2+"_wo"+wave_destruct3+cond_destruct3+"_"+region+"_"+seasmon+".csv"
fwave_wo4 = wave1+"_"+wave2+"_"+cond1+cond2+"_wo"+wave_destruct4+cond_destruct4+"_"+region+"_"+seasmon+".csv"
# fmjo   = "mjo_mjo_wetwet_EC_djf.csv"

In [63]:
# frmm  = "rmm_index.txt"

In [64]:
dwaveref = pd.read_csv(diri+fref)
dwaveref['date'] = dwaveref['date'].astype('str')

dwave1 = pd.read_csv(diri+fwave1)
dwave1['date'] = dwave1['date'].astype('str')

dwave2 = pd.read_csv(diri+fwave2)
dwave2['date'] = dwave2['date'].astype('str')

dwave3 = pd.read_csv(diri+fwave3)
dwave3['date'] = dwave3['date'].astype('str')

dwave4 = pd.read_csv(diri+fwave4)
dwave4['date'] = dwave4['date'].astype('str')

dall   = pd.concat([dwave1, dwave2, dwave3, dwave4])
dall
# dwave4 = pd.read_csv(diri+fwave4)
# dwave4['date'] = dwave4['date'].astype('str')
# dwave4

          date
0     19810123
1     19810130
2     19810206
3     19810220
4     19811228
...        ...
1544  20181207
1545  20181208
1546  20181209
1547  20181210
1548  20181231

[3657 rows x 1 columns]

In [65]:
# dmjo  = pd.read_csv(diri+fmjo)
# dmjo['date'] = dmjo['date'].astype('str')

# print("printing lists in new line")
 
# print(*dmjo['date'], sep = "\n")

In [66]:
# mjo_er_dry  = dmjo[dmjo['date'].isin(dwave2['date'].tolist())]
# mjo_mrg_dry = dmjo[dmjo['date'].isin(dwave3['date'].tolist())]
# mjo_mrg_dry_without_er = mjo_mrg_dry[~mjo_mrg_dry['date'].isin(dwave4['date'].tolist())]


# mjo_mrg_dry_without_er
dwaveref

         date
0    19810219
1    19810220
2    19810221
3    19810222
4    19810223
..        ...
402  20181204
403  20181205
404  20181206
405  20181229
406  20181230

[407 rows x 1 columns]

In [67]:
waveref_wowave1 = dwaveref[~dwaveref['date'].isin(dwave1['date'].tolist())] 
waveref_wowave2 = dwaveref[~dwaveref['date'].isin(dwave2['date'].tolist())] 
waveref_wowave3 = dwaveref[~dwaveref['date'].isin(dwave3['date'].tolist())] 
waveref_wowave4 = dwaveref[~dwaveref['date'].isin(dwave4['date'].tolist())] 

waverefonly     = dwaveref[~dwaveref['date'].isin(dall['date'].tolist())]

print(waverefonly['date'])
# print(waveref_wowave1['date'])
# waverefonly     = waverefonly[~waveref_wowave1['date'].tolist()]

print("WAVEREF wet & wet w/o wave1 dry) n=" +str(len(waveref_wowave2))+" or "+str(round(len(waveref_wowave2)*100/len(dwaveref['date']),2)) +" %")
print("WAVEREF wet & wet w/o wave2 dry) n=" +str(len(waveref_wowave3))+" or "+str(round(len(waveref_wowave3)*100/len(dwaveref['date']),2)) +" %")
print("WAVEREF wet & wet only) n=" +str(len(waverefonly))+" or "+str(round(len(waverefonly)*100/len(dwaveref['date']),2)) +" %")

3      19810222
4      19810223
42     19861204
92     19911210
93     19911211
103    19920206
109    19920224
110    19920225
113    19921220
132    19940226
133    19940227
134    19940228
145    19950119
148    19950122
169    19971230
170    19971231
172    19980227
173    19980228
174    19981205
177    19981208
178    19981209
179    19981210
180    19981211
181    19990113
182    19990114
183    19990115
184    19990116
185    19990117
195    19990215
196    19991221
197    19991222
198    19991223
199    19991224
200    19991225
217    20011211
236    20020216
237    20020217
319    20101227
320    20101228
329    20120201
338    20121225
344    20150108
358    20151227
359    20151228
373    20161231
387    20171209
388    20171210
389    20180122
398    20180226
Name: date, dtype: object
WAVEREF wet & wet w/o wave1 dry) n=154 or 37.84 %
WAVEREF wet & wet w/o wave2 dry) n=354 or 86.98 %
WAVEREF wet & wet only) n=49 or 12.04 %

In [68]:
waverefonly['date'].to_csv(diri2+fname,index=False)
waveref_wowave1['date'].to_csv(diri2+fwave_wo1,index=False)
waveref_wowave2['date'].to_csv(diri2+fwave_wo2,index=False)
waveref_wowave3['date'].to_csv(diri2+fwave_wo3,index=False)
waveref_wowave4['date'].to_csv(diri2+fwave_wo4,index=False)

In [69]:
!ncl 'fcsv="{diri2}{fname}"' 'season="{seasmon}"' 'code={code}' combined_rain_check.ncl > '/Users/fadhlilrizki/Documents/PhD/thesis/figures/misc/wavecheck_{fname}.txt'

In [70]:
!ncl 'fcsv="{diri2}{fwave_wo1}"' 'season="{seasmon}"' 'code={code}' combined_rain_check.ncl > '/Users/fadhlilrizki/Documents/PhD/thesis/figures/misc/wavecheck_{fwave_wo1}.txt'

In [71]:
!ncl 'fcsv="{diri2}{fwave_wo2}"' 'season="{seasmon}"' 'code={code}' combined_rain_check.ncl > '/Users/fadhlilrizki/Documents/PhD/thesis/figures/misc/wavecheck_{fwave_wo2}.txt'

In [72]:
!ncl 'fcsv="{diri2}{fwave_wo3}"' 'season="{seasmon}"' 'code={code}' combined_rain_check.ncl > '/Users/fadhlilrizki/Documents/PhD/thesis/figures/misc/wavecheck_{fwave_wo3}.txt'

In [73]:
!ncl 'fcsv="{diri2}{fwave_wo4}"' 'season="{seasmon}"' 'code={code}' combined_rain_check.ncl > '/Users/fadhlilrizki/Documents/PhD/thesis/figures/misc/wavecheck_{fwave_wo4}.txt'

In [74]:
!ncl 'fcsv="{diri}{fref}"' 'season="{seasmon}"' 'code={code}' combined_rain_check.ncl > '/Users/fadhlilrizki/Documents/PhD/thesis/figures/misc/wavecheck_{fref}.txt'

In [75]:
fwave_wo2

'mjo_mjo_wetwet_womrgdry_CY_djf.csv'